.imageData {
    position: absolute !important;
    color: #FFFFFF !important;
    top: 25% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    font-size: x-small !important;
    text-align: center !important;
    width: 85% !important;
}

.imageMainButton {
    position: absolute !important;
    top: 75% !important;
    left: 50% !important;
    background-color: #c0c0c0 !important;
    opacity: 0.5 !important;
    border-radius: 100px !important;
    border: 5px solid !important;
    color: #FFFFFF !important;
    max-width: 200px !important;
    max-height: 60px !important;
    width: 50% !important;
    height: 30% !important;
    transform: translate(-50%, -50%) !important;
}

.nudesFoundWarningText {
    position: absolute !important;
    color: #FFFFFF !important;
    top: 20% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.yesShowTheNudes {
    position: absolute !important;
    top: 65% !important;
    left: 25% !important;
    background-color: #c0c0c0 !important;
    opacity: 0.5 !important;
    border-radius: 100px !important;
    border: 5px solid !important;
    color: #FFFFFF !important;
    max-width: 200px !important;
    max-height: 60px !important;
    width: 35% !important;
    height: 20% !important;
    transform: translate(-50%, -50%) !important;
    font-size: 60% !important;
}

.showBlurredNudes {
    position: absolute !important;
    top: 65% !important;
    left: 75% !important;
    background-color: #c0c0c0 !important;
    opacity: 0.5 !important;
    border-radius: 100px !important;
    border: 5px solid !important;
    color: #FFFFFF !important;
    max-width: 200px !important;
    max-height: 60px !important;
    width: 35% !important;
    height: 20% !important;
    transform: translate(-50%, -50%) !important;
    font-size: 60% !important;
}

.yesRemoveTheBlur {
    position: absolute !important;
    top: 65% !important;
    left: 50% !important;
    background-color: #c0c0c0 !important;
    opacity: 0.5 !important;
    border-radius: 100px !important;
    border: 5px solid !important;
    color: #FFFFFF !important;
    max-width: 200px !important;
    max-height: 60px !important;
    width: 50% !important;
    height: 30% !important;
    transform: translate(-50%, -50%) !important;
}

.showTheFullContentWarning {
    position: absolute !important;
    color: #FFFFFF !important;
    top: 25% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    text-align: center !important;
    width: 85% !important;
}

.forbiddenContentWarning {
    position: absolute !important;
    color: #FFFFFF !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    text-align: center !important;
    width: 85% !important;
}

.videoMainButton {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    background-color: #c0c0c0 !important;
    opacity: 0.5 !important;
    border-radius: 100px !important;
    border: 5px solid !important;
    color: #FFFFFF !important;
    max-width: 200px !important;
    max-height: 60px !important;
    width: 50% !important;
    height: 30% !important;
    transform: translate(-50%, -50%) !important;
}

.triangle {
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%) !important;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%) !important;
}

.trapezoid {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%) !important;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%) !important;
}

.parallelogram {
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%) !important;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%) !important;
}

.rhombus {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%) !important;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%) !important;
}

.pentagon {
    -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%) !important;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%) !important;
}

.hexagon {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%) !important;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%) !important;
}

.heptagon {
    -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%) !important;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%) !important;
}

.octagon {
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%) !important;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%) !important;
}

.nonagon {
    -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%) !important;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%) !important;
}

.decagon {
    -webkit-clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%) !important;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%) !important;
}

.bevel {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%) !important;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%) !important;
}

.rabbet {
    -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%) !important;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%) !important;
}

.leftArrow {
    -webkit-clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%) !important;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%) !important;
}

.rightArrow {
    -webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%) !important;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%) !important;
}

.leftPoint {
    -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%) !important;
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%) !important;
}

.rightPoint {
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%) !important;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%) !important;
}

.leftChevron {
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%) !important;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%) !important;
}

.rightChevron {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%) !important;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%) !important;
}

.circle {
    -webkit-clip-path: circle(50% at 50% 50%) !important;
    clip-path: circle(50% at 50% 50%) !important;
}

.ellipse {
    -webkit-clip-path: ellipse(25% 40% at 50% 50%) !important;
    clip-path: ellipse(25% 40% at 50% 50%) !important;
}

en-uk {
    display: none !important;
}
en-us {
    display: none !important;
}
fr-fr {
    display: none !important;
}
ar-ar {
    display: none !important;
}
ar-eg {
    display: none !important;
}
ja-ja {
    display: none !important;
}